table {
    box-shadow: 6px 6px 25px;
    border: none;
    border-radius: 55px;
    padding: 20px;
    margin: 16px;
    background: rgb(239, 232, 232);
}

body {
    background-color: black;
    margin:auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline, ;
    /* background-image: url(https://img.freepik.com/premium-vector/programmer-with-code-cat-on-book-and-coffee-vector-clip-art-illustration_138676-92.jpg);
    background-repeat: repeat-y;
    background-position:left;
    background-attachment:local; */
    /* background:url(https://img.freepik.com/premium-vector/programmer-with-code-cat-on-book-and-coffee-vector-clip-art-illustration_138676-92.jpg) right repeat-y, url(https://png.pngtree.com/element_our/20200609/ourmid/pngtree-vector-programming-structure-diagram-image_2230270.jpg) left repeat-y; */

}
body::-webkit-scrollbar{
    display: none;
}
.avatar {
    height: 330px;
    width: 250px;
    border: 5px;
    border-radius: 50px;
    box-shadow: 4px 4px 20px rgb(0, 0, 0);
}

.info {
    /* background: rgba(239, 232, 232, 0.297); */
    padding: 5px;
    margin: auto;
}

.job {
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 14px;
    background: rgb(239, 232, 232);
    box-shadow: 4px, 4px, 30px rgb(7, 7, 7);
}
footer {
    background: rgba(204, 184, 192, 0.504);
    border: solid;
    border-color: rgb(239, 232, 232);
    border-radius: 25px;
    box-shadow: 4px 4px 21px;
    height: 55px;
    padding: 15px;
    width: 660px;
    margin: auto;
    margin-bottom: 20px;
    
    
}
.job1 {
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 14px;
    background: rgb(239, 232, 232);
    box-shadow: 4px, 4px, 30px rgb(7, 7, 7);
}
.centers{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
.fio{
    margin-left: 15px;
}

.about{
    background: rgba(225, 219, 213, 0.658);
    border-radius: 30px;
    box-shadow: 4px 4px 20px;
    font-size: larger;
}

h1{
    color:#e7c9c9;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 1px #919191,
     1px 2px 1px #919191,
      1px 3px 1px #919191,
       1px 4px 1px #919191,
        1px 5px 1px #919191,
         1px 6px 1px #919191, 
         1px 8px 1px #919191,
         1px 9px 1px #919191,
         1px 10px 1px #919191;
         /* 1px 18px 6px rgba(16, 16, 16, 0.4),
         1px 22px 10px rgba(16, 16, 16, 0.2),
         1px 25px 35px rgba(16, 16, 16, 0.2),
         1px 30px 60px rgba(16, 16, 16, 0.4);         */
}

h5, ol, h3, h4{
    color:#c4b3b3;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 1px #919191,
     1px 2px 1px #919191,
      1px 3px 1px #919191,
        1px 4px 1px #919191;
        /* 1px 5px 1px #919191,
         1px 6px 1px #919191, 
         1px 8px 1px #919191;
         1px 9px 1px #919191,
         1px 10px 1px #919191;
         1px 22px 10px rgba(16, 16, 16, 0.2),
         1px 18px 6px rgba(16, 16, 16, 0.4),
         1px 25px 35px rgba(16, 16, 16, 0.2),
         1px 30px 60px rgba(16, 16, 16, 0.4);         */
}

.video-media{
    position: fixed;
    width: 100%;
    height: 100vh;
    margin-left: 0px;
    /* opacity: .3; */
    /* object-fit: cover; */
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}



